
    p {
        font-family: arial;
    }

    .video-title{
        
        font-size:18px;
        font-weight: bold;
        width:300px;
        line-height:27px;
        margin-bottom: 5px;
    }

    .views{
        
        font-size:14px;
        color: rgb(110, 106, 106);
        margin-top:0px;
        margin-bottom: 16px;
    }

    .Name{
        
        color: rgb(110, 106, 106);
        font-size: 14px;
        margin-bottom:16px;
    }

    .description{
        
        color: rgb(110, 106, 106);
        font-size:14px;
        width: 284px;
        line-height:22px;
        margin-bottom:100px;
    }

    .footer{
        margin-left:8px;
        margin-right:8px;
        margin-bottom: 16px;
        text-align: center;
        background-color:rgb(218, 69, 69);
        color: white;
        padding-top:23px;
        padding-bottom:23px;
        padding-left:16px;
        padding-right:16px;
        font-weight:400;
        font-size:22px;
        border-radius:6px;
    }

    .Span-Shopnow:hover{
        color: yellow;
        cursor: pointer;
        font-style:underline;
        text-decoration:underline;
    }